<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Employees list example">
        <meta name="keywords" content="Python,Django,Web,Development,Postgres,Oracle,HTML,CSS,XML,JavaScript,Freelancer,AJAX,JSON">
        <meta name="author" content="Fabio Santiago">
        

        <!-- Latest compiled and minified CSS -->
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        -->

        <!-- Optional theme -->
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        -->
        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
        <!--
        <script src="/static/df/js/jquery-1.12.4.js"></script>
        <script src="/static/df/js/jquery.dataTables.min.js"></script>
        <script src="/static/df/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/df/css/dataTables.bootstrap.min">
        -->

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.13/r-2.1.1/se-1.2.0/datatables.min.css"/>
 
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.13/r-2.1.1/se-1.2.0/datatables.min.js"></script>



        
        <script type="text/javascript">
        $(document).ready(function() {
            $('#id_employee_table').DataTable();
            $("#id_employee_table_paginate").addClass("pull-right");
            $("#id_employee_table_filter").addClass("pull-right");
            $("#id_employee_table_filter").find( "input" ).attr('size',60);
            $('#id_employee_title').popover();

            $("#id_btn_how_it_works").click(function(){
                $("#id_modal_how_it_works").modal();
            });

            
        } );
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-100687088-1', 'auto');
          ga('send', 'pageview');

        </script>
        
        <title>Employees</title>
    </head>


<body>
    <div class="container">
        <!--
        <div class="row">
            <a id="id_employee_title" class="btn" href="#" data-content="This is an example using datatables. You can search and sort dynamically using javascript. Hold Ctrl and click on the cell that you want to select. Use Ctrl + C to copy the selected rows." rel="popover" data-placement="right" data-trigger="hover">
                <h2>Employees Example</h2>
            </a>
            
        </div>
        -->

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Employees Example <a id="id_btn_how_it_works" class="btn btn-warning btn-sm" data-toggle="modal" href="#how_it_works"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a>
                    </h2>
                </div>
            </div>
        </div>


        <table id="id_employee_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>SSN</th>
                    <th>Birth Date</th>
                    <th class="text-right">Salary (US$)</th>
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                    <tr>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.ssn}}</td>
                        <td>{{e.birth_date|date:"Y-m-d"}}</td>
                        <td class="text-right">{{e.salary}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="id_modal_how_it_works" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="text-center">How it works</h4>
                </div>
                <div class="modal-body">
                    <p class="text-justify" style="text-indent: 50px;">This is an example using datatables. You can search and sort dynamically using javascript. Hold Ctrl and click on the cell that you want to select. Use Ctrl + C to copy the selected rows or the selected cells.</p>
                </div>
              </div>
              
            </div>
        </div>

    </div>
</body>
</html>