{% extends "food_request_base_template.html" %}

{% block content %}

    {% block express_food_header %}
        {{ block.super }}
    {% endblock %}

    {% block pills %}
        <div class="row">
            <ul class="nav nav-pills nav-justified"> 
                <li role="presentation"><a href="{% url 'food_request' %}">Client View</a></li>
                <li role="presentation"><a href="{% url 'food_request_cashier_view' %}">Cashier View</a></li>
                <li role="presentation" class="active"><a href="{% url 'food_request_kitchen_view' %}">Kitchen View</a></li>
            </ul>
        </div>
    {% endblock %}

		
	{% if messages %}
	<div class="row">
	    {% for message in messages %}
	    <div {% if message.tags %} class="alert {% if message.tags == 'error' %}alert-danger {% else %} alert-{{ message.tags }} {% endif %}"{% endif %} >{{ message }}</div>
	    {% endfor %}
	</div>
	{% endif %}
	<div class="row">
		<div id="id_messages">
		</div>
	</div>
	<div id="id_requests" class="row">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th>Items</th>
					<th>Total</th>
					<th>Status</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for r in food_requests %}
				<tr class="{{r.getStatusStyle}}">
					<td>{{r.name}}</td>
					<td>
						<p>
						{% for i in r.item_set.all %}
							{{i.product.title}} <span class="badge"> {{ i.quantity }}</span>
						{% endfor %}
						</p>
					</td>
					<td>
						{{r.total}}
					</td>
					<td>{{r.get_status_display}}</td>
					<td>{% if r.paid %}{{ r.paid|date:'Y-m-d H:i' }}{% endif %}</td>
					<td>{% if r.status == r.PAID %}
							<a class="btn btn-info btn-lg" href="{% url 'change_to_preparing' food_request_id=r.id %}">
									<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
							</a>
						{% else %}
							<a class="btn btn-warning btn-lg" href="{% url 'change_to_done' food_request_id=r.id %}">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</a> 
						{% endif %}
					</td>	
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


    {% block modal %}
        {{ block.super }}
    {% endblock modal %}	
{% endblock %}