<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/js/jquery-3.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100687088-1', 'auto');
  ga('send', 'pageview');

</script>
	
<script type="text/javascript">
(function() {
	 'use strict';
	 angular.module('app',[
		'ngCookies'
	 ], function($interpolateProvider){
		// Contorna prroblema de interpolação da renderização de template do django
		$interpolateProvider.startSymbol('{[{');
		$interpolateProvider.endSymbol('}]}');
	 })
	 .run( function run($http, $cookies ){
		// Evita problemas relacionados ao CSRF
		$http.defaults.headers.post['X-CSRFToken'] = $cookies['csrftoken'];
	 });
	})();
</script>

<script type="text/javascript">
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie
							.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		beforeSend : function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {

		$('#id_messages').hide();
		myFoodRequest = {"name": "", "items": [], "total":0}
		myJsonFoodRequest = JSON.stringify(myFoodRequest);
		localStorage.setItem("myJsonFoodRequest", myJsonFoodRequest);
		
		loadFoodRequestToTable();

	});
</script>
<script type="text/javascript">
function loadFoodRequestToTable() {
	text = localStorage.getItem("myJsonFoodRequest");
	obj = JSON.parse(text);
	//console.log(obj.items[0].id);
	$('#table_food_request tbody').empty();
	for (i=0;i < obj.items.length; i++) {
		row = "<tr>";
		row += "<td>" + obj.items[i].id + "</td>";
		row += "<td>" + obj.items[i].title + "</td>";
		row += "<td>" + obj.items[i].quantity + "</td>";
		row += '<td class="text-right">' + (parseFloat(obj.items[i].price)).toFixed( 2 ) + "</td>";
		row += "</tr>";
		$("#table_food_request tbody").append(row);
		
	}
}
function addProduct(productId) {
	
	text = localStorage.getItem("myJsonFoodRequest");
	obj = JSON.parse(text);
	productObj = $("#product_"+productId);
	
	isPresent = false;
	for (i=0;i < obj.items.length; i++) {
		if (obj.items[i].id == productId) {
			isPresent = true;
			obj.items[i].quantity = obj.items[i].quantity + 1;
			obj.items[i].price = (parseFloat(obj.items[i].price) + parseFloat(productObj.attr("price"))).toFixed( 2 );
		}	
	}
	if (! isPresent ) {
		newItem = {"id":productId, "title":productObj.attr( "title" ), "quantity":1, "price": parseFloat(productObj.attr("price")) };
		obj.items.push(newItem);
	}
	
	obj.total = (parseFloat(obj.total) + parseFloat(productObj.attr("price"))).toFixed( 2 );
	myJsonFoodRequest = JSON.stringify(obj);
	localStorage.setItem("myJsonFoodRequest", myJsonFoodRequest);
	
	loadFoodRequestToTable();

}

function delProduct(productId) {
	text = localStorage.getItem("myJsonFoodRequest");
	obj = JSON.parse(text);
	productObj = $("#product_"+productId);
	
	for (i=0;i < obj.items.length; i++) {
		if (obj.items[i].id == productId) {
			if (obj.items[i].quantity == 1) {
				obj.items.splice(i, 1);
			} else {
				obj.items[i].quantity = obj.items[i].quantity - 1;
				obj.items[i].price = (parseFloat(obj.items[i].price) - parseFloat(productObj.attr("price"))).toFixed( 2 );	
			}
			obj.total = (parseFloat(obj.total) - parseFloat(productObj.attr("price"))).toFixed( 2 );
		}	
	}
	
	myJsonFoodRequest = JSON.stringify(obj);
	localStorage.setItem("myJsonFoodRequest", myJsonFoodRequest);
	
	loadFoodRequestToTable();
}

function validateFoodRequest() {
	var messages = '';
	var isValid = true;
	console.log($("#id_name").val());
	if ($("#id_name").val() == '' || $("#id_name").val() == null ) {
		messages = messages + '<div class="alert alert-danger">You must inform a name.</div>';
		isValid = false;
	} else {
		text = localStorage.getItem("myJsonFoodRequest");
		obj = JSON.parse(text);
		obj.name = $("#id_name").val();
		myJsonFoodRequest = JSON.stringify(obj);
		localStorage.setItem("myJsonFoodRequest", myJsonFoodRequest);
	}
	
	text = localStorage.getItem("myJsonFoodRequest");
	obj = JSON.parse(text);
	if (obj.items.length == 0) {
		messages = messages + '<div class="alert alert-danger">You must choose at least one item in your request.</div>';
		isValid = false;
	}
	
	if (! isValid ) {
		$("#id_messages").html(messages);
		$("#id_messages").show();
	}
	return isValid;
}

function sendFoodRequest() {
	if (validateFoodRequest()) {
		
		text = localStorage.getItem("myJsonFoodRequest");
		obj = JSON.parse(text);
		
		$.ajax({
		    url: '/mr/add_request/',
		    type: 'POST',
		    contentType: 'application/json; charset=utf-8',
		    data: JSON.stringify(obj),
		    dataType: 'text',
		    success: function(text_result) {
		    	alert('Your request is in queue');
		    	window.location='/mr/food_request/';
		    }
		});
		
	}
}
</script>

<style type="text/css">
.thumbnail img {
	height: 200px;
	width: 100%;
}
</style>

<title>Express Food Request</title>
</head>
<body>
	<div class="container">
		
			<div class="row">
				<div class="page-header">
					<h2>Make your request</h2>
				</div>
			</div>
			{% if messages %}
			<div class="row">
				{% for message in messages %}
					<div {% if message.tags %} class="alert {% if message.tags == 'error' %}alert-danger {% else %} alert-{{ message.tags }} {% endif %}"{% endif %} >{{message }}</div>
				{% endfor %}
			</div>
			{% endif %}
			<div class="row">
				<div id="id_messages"></div>
			</div>



			<div id="id_requests">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a data-toggle="pill"
						href="#tab_dishes">Dishes</a></li>
					<li role="presentation"><a data-toggle="pill"
						href="#tab_beverages">Beverages</a></li>
					<li role="presentation"><a data-toggle="pill"
						href="#tab_desserts">Desserts</a></li>
				</ul>


				<div class="tab-content">
					<div id="tab_dishes" class="tab-pane fade in active">
						<div class="row">
							{% for d in dishes %}
							<div class="col-sm-6 col-md-4">
								<div id="product_{{d.id}}" class="thumbnail" title="{{d.title}}" price="{{d.price}}">
									<img src="{{d.photo.url}}" alt="{{d.text}}" height="242"
										width="150">
									<div class="caption">
										<div class="text-center">
										<h3>{{d.title}}</h3>
										<p>{{d.text}}</p>
										<div class="btn-group" role="group" >
										  <button type="button" class="btn btn-success btn-lg" onclick="addProduct({{d.id}})" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
										  <button type="button" class="btn btn-danger btn-lg"  onclick="delProduct({{d.id}}) "><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
										</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div id="tab_beverages" class="tab-pane fade">
						<div class="row">
							{% for d in beverages %}
							<div class="col-sm-6 col-md-4">
								<div id="product_{{d.id}}" class="thumbnail" title="{{d.title}}" price="{{d.price}}">
									<img src="{{d.photo.url}}" alt="{{d.text}}" height="150" width="150">
									<div class="caption">
										<div class="text-center">
										<h3>{{d.title}}</h3>
										<p>{{d.text}}</p>
										<div class="btn-group" role="group" >
										  <button type="button" class="btn btn-success btn-lg" onclick="addProduct({{d.id}})" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
										  <button type="button" class="btn btn-danger btn-lg"  onclick="delProduct({{d.id}}) "><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
										</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div id="tab_desserts" class="tab-pane fade">
						<div class="row">
							{% for d in desserts %}
							<div class="col-sm-6 col-md-4">
								<div id="product_{{d.id}}" class="thumbnail" title="{{d.title}}" price="{{d.price}}">
									<img src="{{d.photo.url}}" alt="{{d.text}}" height="150" width="150">
									<div class="caption">
										<div class="text-center">
										<h3>{{d.title}}</h3>
										<p>{{d.text}}</p>
										<div class="btn-group" role="group" >
										  <button type="button" class="btn btn-success btn-lg" onclick="addProduct({{d.id}})" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
										  <button type="button" class="btn btn-danger btn-lg"  onclick="delProduct({{d.id}}) "><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
										</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			
			<div>
				<table id="table_food_request" class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Product</th>
							<th>Quantity</th>
							<th class="text-right">Price</th>	
						</tr>
					</thead>
					<tbody>
					
					</tbody>
					
				</table>
			</div>

		<div class="navbar-form navbar-right" role="search">
				<div class="input-group">
						{% csrf_token %}
						<input class="form-control input-lg" type="text" name="name"	id="id_name" placeholder="Enter your name">
						<span class="input-group-btn">
							<button id="id_btn_make_request" class="btn-lg btn-primary" onclick="sendFoodRequest()">Make a request</button>
						</span>
				</div>
		</div>
		
	</div>
</body>
</html>