<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','bar', 'calendar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
    	  
    	/*********** Sold Products Charts 1 and 2 *******************/

    	var sold_products = $.ajax({
            url: "/mr/get_sold_products",
            dataType: "json",
            async: false
            }).responseText;
    	json_sold_products = JSON.parse(sold_products);
    	var data = google.visualization.arrayToDataTable(json_sold_products);
        var options = {
        };

        var chart = new google.visualization.PieChart(document.getElementById('id_div_piechart'));
        chart.draw(data, options);

        var barchart = new google.visualization.ColumnChart(document.getElementById('id_div_barchart'));
        barchart.draw(data, options);
        
        /*********** Income Chart *******************/
        
        /* Get the income by category data from an AJAX call */
        var income_by_category = $.ajax({
            url: "/mr/get_income_by_category/",
            dataType: "json",
            async: false
            }).responseText;
    	var json_income_by_category = JSON.parse(income_by_category);
    	var data_ibc = google.visualization.arrayToDataTable(json_income_by_category);
        var options2 = {
          chart: {
            //title: 'Income by category'
          }
        };
        var col_chart = new google.charts.Bar(document.getElementById('id_div_colchart'));
        col_chart.draw(data_ibc, options2);
        
		/*********** Attendance Chart *******************/        

        /* Get requests by date from an AJAX call */
        var requests_by_day = $.ajax({
            url: "/mr/get_requests_by_day/",
            dataType: "json",
            async: false
            }).responseText;
    	var json_requests_by_day = JSON.parse(requests_by_day);

        var dataTable4 = new google.visualization.DataTable();
        dataTable4.addColumn({ type: 'date', id: 'Date' });
        dataTable4.addColumn({ type: 'number', id: 'Items' });
        var x = [];
        for (i=0;i<json_requests_by_day.length;i++) {
        	x.push([ new Date(json_requests_by_day[i][0]), json_requests_by_day[i][1] ]);
        }
        dataTable4.addRows(x);
        var attendance_chart = new google.visualization.Calendar(document.getElementById('id_div_attendance'));
        var options4 = {
        };
        attendance_chart.draw(dataTable4, options4);
      
      }
    </script>

    
  </head>
  <body>
  	<div class="container">
  		<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  			<span class="navbar-text">
      			Express Food Management
    		</span>
		</nav>
		<div class="row">
			<div class="col-md-12">
				<p>These are some charts made with Google Charts, JSON, AJAX and Javascript to monitor your Express Food Truck.</p>
				<p>Charts 1 and 2 are diferent ways to see the sold products.</p>
				<p>Chart 3 shows your receipts by category of product.</p>
				<p>Chart 4 shows the days that you received requests in your Food Truck.</p>
			</div>
		</div>
  		<div class="row">
  			<div class="col-md-6">
  				<div class="panel panel-primary">
  					<div class="panel-heading">Sold Products - Percentage</div>
  					<div class="panel-body">
  						<div id="id_div_piechart"></div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6">
  			  	<div class="panel panel-primary">
  					<div class="panel-heading">Sold Products - Quantity</div>
  					<div class="panel-body">
  						<div id="id_div_barchart"></div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-6">
  				<div class="panel panel-primary">
  					<div class="panel-heading">Income by category</div>
  					<div class="panel-body">
  						<div id="id_div_colchart"></div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6">
  				<div class="panel panel-primary">
  					<div class="panel-heading">Food Truck Attendance</div>
  					<div class="panel-body">
  						<div id="id_div_attendance"></div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
